<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="header">
    <h1>Samip Vichare N01545366</h1>
  </div>
  <div class="content">
    {{{body}}}
  </div>
  <div class="footer">
    <p>Email: vicharesamip@gmail.com</p>
  </div>
</body>
</html>
