<!DOCTYPE html>
<html>
<head>
  <title>Search Invoice Number</title>
</head>
<body>
  <h1>Search Invoice Number</h1>
  <form method="post" action="/search/invoiceNo">
    <label for="invoiceNo">Enter Invoice Number:</label>
    <input type="text" id="invoiceNo" name="invoiceNo">
    <input type="submit" value="Search">
  </form>
</body>
</html>
